asgiref==3.8.1
backports.zoneinfo==0.2.1
charset-normalizer==3.4.2
django==4.2.23
pdfkit==1.0.0
pillow==10.4.0
reportlab==4.4.2
sqlparse==0.5.3
typing-extensions==4.13.2
tzdata==2025.2
wkhtmltopdf==0.2
