{% extends 'base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block header %}Bem-Vindo{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}" >
    <script src="{% static 'js/theme-toggle.js' %}"></script>
    <main>
    
        <aside>

            <div class="body-welcome-first">
             
                         
                <h1>Bem-vindo ao PDI!</h1><br>
                <p>Aqui você poderá ter seu proprio plano de estudos para aprimorar seus conhecimentos e habilidades.</p>
            
            </div>
       
            <div class="body-welcome">
            
                <h1>O que é o PDI?</h1><br>
                <p>PDI é uma sigla que significa plano de desenvolvimento individual, que é basicamente um planejamento de como desenvolver suas habilidades individuais. Este site irá ajudar você a fazer o seu PDI é crescer cada vez mais no mercado.</p> <br>
            
                <div class="button-plan">
                
                    <a href="{% url 'pdi_form:formulario' %}">Faça seu Plano</a>
                
                </div>

            </div>
        
        </aside>

    </main>
{% endblock %}
