{% extends 'base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html class="home" lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/home.css' %}" >
    <title>{% block title %}Inicio{% endblock %}</title>

</head>

<body>

    <main>
    
        <aside>

            <div class="body-welcome-first">
             
                         
                <h1>Bem-vindo ao PDI!</h1><br>
                <p>Aqui você poderá ter seu proprio plano de estudos para aprimorar seus conhecimentos e habilidades.</p>
            
            </div>
       
            <div class="body-welcome">
            
                <h1>O que é o PDI?</h1><br>
                <p>PDI é uma sigla que significa plano de desenvolvimento individual, que é basicamente um planejamento de como desenvolver suas habilidades individuais. Este site irá ajudar você a fazer o seu PDI é crescer cada vez mais no mercado.</p> <br>
            
                <div class="button-plan">
                
                    <a href="{% url 'pdi_form:formulario' %}">Faça seu Plano</a>
                
                </div>

            </div>
        
        </aside>

    </main>
   
</body>
</html>
{% endblock %}
