{% load static %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Login/Cadastro</title>
    <link rel="stylesheet" href="{% static 'CSS/index.css' %}">
</head>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="left-side"></div>
        <div class="right-side">
            <div id="formBox">
                {% if page == "cadastro" %}
                    <h2>Cadastro</h2>
                    <form method="post" action="{% url 'app_pdi:cadastro_submit' %}">
                        {% csrf_token %}
                        <input type="text" name="nome" placeholder="Nome" required />
                        <input type="email" name="email" placeholder="Email" required />
                        <input type="password" name="senha" placeholder="Senha" required />
                        <input type="password" name="confirmar_senha" placeholder="Confirmar Senha" required />
                        {% if erro %}
                            <div class="alert alert-danger" role="alert">
                                {{ erro }}
                            </div>
                        {% endif %}
                        <button type="submit" class="submit">Cadastrar</button>
                    </form>
                    <h3>Já possui conta?</h3>
                    <a href="{% url 'app_pdi:login' %}">Login</a>
                {% else %}
                    <h2>Login</h2>
                    <form method="post" action="{% url 'app_pdi:login_submit' %}">
                        {% csrf_token %}
                        <input type="email" name="email" placeholder="Email" required />
                        <input type="password" name="senha" placeholder="Senha" required />
                        {% if erro %}
                            <div class="alert alert-danger" role="alert">
                                {{ erro }}
                            </div>
                        {% endif %}
                        <button type="submit" class="submit">Entrar</button>
                    </form>
                    <h3>Não possui conta?</h3>
                    <a href="{% url 'app_pdi:cadastro' %}">Cadastro</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
