<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login/Cadastro</title>
    <link rel="stylesheet" href="{% static 'CSS/index.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-side"></div>
        <div class="right-side">
            <div id="formBox">
                {% if page == "cadastro" %}
                    <h2>Cadastro</h2>
                    <form method="post" action="{% url 'cadastro_submit' %}">
                        {% csrf_token %}
                        <input type="text" name="nome" placeholder="Nome" required />
                        <input type="email" name="email" placeholder="Email" required />
                        <input type="password" name="senha" placeholder="Senha" required />
                        <input type="password" name="confirmar_senha" placeholder="Confirmar Senha" required />
                        <button type="submit" class="submit">Cadastrar</button>
                    </form>
                    <h3>Já possui conta?</h3>
                    <a href="{% url 'login' %}">Login</a>
                {% else %}
                    <h2>Login</h2>
                    <form method="post" action="{% url 'login_submit' %}">
                        {% csrf_token %}
                        <input type="email" name="email" placeholder="Email" required />
                        <input type="password" name="senha" placeholder="Senha" required />
                        <button type="submit" class="submit">Entrar</button>
                    </form>
                    <h3>Não possui conta?</h3>
                    <a href="{% url 'cadastro' %}">Cadastro</a>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
