{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/alt_senha.css' %}">
{% endblock %}
{% block content %}
<div class="change-password-container">
  <button type="button" class="back-button" onclick="history.back()" aria-label="Voltar"></button>
  <h3>Alterar Senha</h3>
  <form method="POST" class="change-password-form">
      {% csrf_token %}
      <label>Senha atual:</label>
      <input type="password" name="senha_atual">
      
      <label>Nova senha:</label>
      <input type="password" name="nova_senha">
      
      <label>Confirmar nova senha:</label>
      <input type="password" name="confirmar_senha">
      
      <button type="submit">Alterar</button>
  </form>
  {% if erro %}
  <p class="error-message">{{ erro }}</p>
  {% endif %}
</div>
{% endblock %}
